<h1>tasks</h1>
<h2><%= link_to "new", new_task_path %></h2>

<!-- <h2><%= link_to "一覧", "/posts" %></h2> -->
 <!-- 投稿一覧を表示 -->
 <% @tasks.each do |task| %>
  <ul>
  	<li><%= task.title %></li>
  	<li><%= task.description %></li>
  	<li><%= task.due_date %></li>
  </ul>
<%end%>